<div id="errorPopup" class="popup" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">
    <div class="card" style="width: 18rem;" th:if="${error != null}">
        <div class="card-body" style="background-color: #ea3723; text-align: center; color: white; border-radius: 10px">
            <h5 class="card-title">¡¡¡ ERROR !!!</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${error}"></h6>
            <p class="card-text"></p>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        var errorPopup = document.getElementById('errorPopup');
        errorPopup.style.display = 'none';
    }, 3000); // Desaparecerá después de 3 segundos (3000 milisegundos)
</script>
