<div class="container">
    <div class="container d-flex justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-light" style="width: 80%;">
            <div class="container-fluid">
                <a class="navbar-brand mx-auto" href="#">
                    <img src="/img/armenteros_1-removebg-preview.png" alt="" width="180" height="65">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav" th:if="${session.usuariosession != null}">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="propietariosDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Propietarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="propietariosDropdown">
                                <li><a class="dropdown-item" href="../propietario/buscarPropietario">Cargar Propietarios</a></li>
                                <!-- Agrega más opciones si es necesario -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Propiedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tasaciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logueo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>