<div class="container">
    <div class="container d-flex justify-content-center">
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <h4>Cañada de Gómez 4509, Villa Lugano - CABA</h4>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div class="container">
    <div class="container d-flex justify-content-center">
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <h3>Tel: 15-5051-3333</h3>
                </li>
            </ul>
        </nav>
    </div>
</div>