.full-width-image {
    width: 100vw;
    height: 230px;
}

a {
    text-decoration: none;
    /* Elimina el subrayado */
}

/* Estilo para enlaces no visitados */
a:link {
    color: inherit;
    /* Mantén el color original */
}

/* Estilo para enlaces visitados */
a:visited {
    color: inherit;
    /* Mantén el color original */
}

.img-thumbnail {
    width: 100px;
    /* Ancho fijo */
    height: 100px;
    /* Alto fijo */
    object-fit: cover;
    /* Escalar y recortar para que encaje */
    object-position: center;
    /* Centrar la parte visible de la imagen */
}

.hache3,
.hache4 {
    margin-bottom: 20px;
    /* Puedes ajustar el valor según tus preferencias de espaciado */
}

/* Puedes agregar estilos adicionales aquí */
/* .navbar-nav .nav-item {
    border-right: 1px solid #ccc;

}

.navbar-nav .nav-item:last-child {
    border-right: none;
}

.custom-toggler .navbar-toggler-icon {
    background-color: black;
} */

/* .navBar{
    background-color: #fff !important;
}

.elementosNav{
    display: flex;
    width: 30%;
    justify-content: space-around;
    color: #37474f;
    font-weight: 700;
}

.elementos{
    margin-right: 50px;
}

.containerImg{
    width: 20%;
}

.logo{
    width: 40%;
    margin: auto;
}

.tituloBiblioteca{
    width: 80%;
    text-align: center;
    font-size: 40px;
    margin-top: 80px;
    font-weight: 500;
}

.header{
    background-image: url(../img/FondoZoom_2.jpg);
    background-size: cover;
    height: 550px;
    display: flex;
    justify-content: end;
}

.contenedorLibros{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tituloLibros{
    font-size: 22px;
    font-weight: 500;
}

.contenedorMain{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.boton{
    background-color: #ffcb00;
    box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 2px 16px 4px rgba(0,0,0,0.36);
}

.boton:hover{
    background-color: #ffcb00;
}
.boton:active{
    box-shadow: none;
} */