.full-width-image {
    width: 100vw;
    height: 230px;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.hache3,
.hache4 {
    margin-bottom: 20px;
}

.blockquote p {
    font-size: 16px;
}

.blockquote-footer {
    font-size: 14px;
}

.image-box {
    margin: 20px;
    padding: 10px;
    background: rgba(33, 37, 41, 0.3);
}

.custom-text {
    color: #333;
}

body::before {
    content: "";
    background-image: url('../img/inmobiliaria.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.;
    z-index: -1;
}

.d-flex.justify-content-center {
    justify-content: center;
}

.btn-outline-success {
    margin: 0 auto;
}

/* Estilo para enlaces no visitados */
a:link {
    text-decoration: none;
    /* Elimina el subrayado */
}

/* Estilo para enlaces visitados */
a:visited {
    text-decoration: none;
    /* Elimina el subrayado */
}
