<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <title>Armenteros Prop.</title>
    <link rel="stylesheet" href="./css/index.css" />
    <style>
        /* Personaliza el estilo */
    

        /* Cambia el color del menú hamburguesa cuando la pantalla es menor de 512px */
        @media (max-width: 512px) {
            .navbar-toggler-icon {
                background-color: black;
            }
        }

        /* Estilos para las imágenes en las tarjetas */
        .card .card-img {
            border: none;
            /* Elimina el borde alrededor de las imágenes */
            width: 100%;
            height: auto;
            /* Esto mantendrá la proporción de aspecto de la imagen */
            object-fit: cover;
            /* Para mantener la proporción de aspecto y recortar la imagen si es necesario */
        }

        /* Estilos para los títulos h5 */
        .card-title {
            background-color: #333;
            /* Cambia este valor al color de fondo gris que desees */
            color: white;
            /* Cambia este valor al color de texto que desees */
            padding: 10px;
            /* Añade espacio alrededor del texto */
            margin: 0;
            /* Elimina el margen predeterminado */
        }

        .card-img {
            padding: 15px;
            border-radius: 30px;
        }
    </style>
</head>

<body>

    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div style="position: fixed; bottom: 79px; right: 15px; z-index: 1000;">
        <a href="https://wa.me/+5491150513333" target="_blank">
            <img src="/img/logowpp.svg" alt="Logo de WhatsApp" width="120">
        </a>
    </div>
    
<!--
    <form th:action="@{/casasPrincipal}" method="post">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="localidad" class="form-label">Localidad:</label>
                        <input type="text" class="form-control" id="localidad" th:field="*{localidad}">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="barrio" class="form-label">Barrio:</label>
                        <input type="text" class="form-control" id="barrio" th:field="*{barrio}">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="precioMin" class="form-label">Precio Mínimo:</label>
                        <input type="number" class="form-control" id="precioMin" th:field="*{precioMin}">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="precioMax" class="form-label">Precio Máximo:</label>
                        <input type="number" class="form-control" id="precioMax" th:field="*{precioMax}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="tipo" class="form-label">Tipo:</label>
                        <input type="text" class="form-control" id="tipo" th:field="*{tipo}">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado:</label>
                        <input type="text" class="form-control" id="estado" th:field="*{estado}">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="moneda" class="form-label">Moneda:</label>
                        <input type="text" class="form-control" id="moneda" th:field="*{moneda}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </form>-->
    <div class="container" style="border-color: red">
        <div class="row row-cols-3 row-cols-md-3 g-3">
            <div th:each="propiedad : ${propiedades}" class="col">
                <div style="background-color: lightblue; border-radius: 10px;">
                    <h5 th:text="${propiedad.tipoVivienda}" style="text-align: center"></h5>
                    <p th:text="${propiedad.estado}" style="text-align: center"></p>
                    <div class="card mb-3"
                        style="width: 400px; height: 100px; background-color: bisque; margin-left: 10px; border-color: black;">
                        <div class="row g-0" style="display: inline-flex">
                            <div class="col-md-6">
                                <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel"
                                        data-bs-interval="3000">

                                        <div class="carousel-inner" style="border-radius: 5%">
                                            <div th:each="imagenesPorPropiedad, iterStat : ${imagenesPorPropiedad[propiedad.idPropiedad]}"
                                                th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                                <img style="width: 200px; height: 100px"
                                                    th:src="'data:image/jpeg;base64,' + ${#strings.toString(imagenesPorPropiedad)}"
                                                    alt="Imagen">
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExample" role="button"
                                                data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"
                                                    style="background-color: yellowgreen;"></span>
                                                <span class="visually-hidden">Anterior</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExample" role="button"
                                                data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"
                                                    style="background-color: yellowgreen;"></span>
                                                <span class="visually-hidden">Siguiente</span>
                                            </a>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#imageCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#imageCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5 th:text="${propiedad.mts2Totales}+' mt² Totales'"
                                    style="margin-left: 10px; margin-bottom: 0"></h5>
                                <p th:text="'Localidad: '+${propiedad.localidad}"
                                    style="margin-left: 10px; margin-bottom: 0; font-style: italic"></p>
                                <p th:text="'Barrio: '+${propiedad.barrio}" style="margin-left: 10px; margin-bottom: 0">
                                </p>
                                <p th:text="'Precio: USD '+${propiedad.precioPropiedad}"
                                    style="margin-left: 10px; margin-bottom: 0"></p>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left: 150px; margin-top: 0px; margin-bottom: 5px">
                        <a th:href="@{/imagen/propiedad/__${propiedad.idPropiedad}__}" class="btn btn-success">Detalle
                            Propiedad</a>
                    </div>
                    <br>
                </div>

            </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer" :: footer> </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
        integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>


</body>

</html>