<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles de propiedad</title>
    <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body style="background-image: url('../img/inmobiliaria.jpg'); background-size: cover">

    <header th:replace="/fragments/navbar" :: header> </header>

    <header th:replace="/fragments/wpp" :: header> </header>

    <main>

        <div class="px-0 pt-0 my-0 text-center">
            <div class="container">
                <div class="card bg-dark text-white" style="border-radius: 15px; margin: 20px;">
                    <div class="card-header" style="border-bottom: 0px solid rgba(0,0,0,.125);">
                        <div class="row g-0">
                            <div class="col-md-4" style="width: 50%;">
                                <div id="carouselExample" class="carousel slide carousel-fade">
                                    <div class="carousel-inner">
                                        <div th:each="imagen1, iterStat : ${imagen1}"
                                            th:class="${iterStat.index == 0} ? 'carousel-item active' : 'carousel-item'">
                                            <div style="position: relative;">
                                                <!-- Imagen principal del carrusel -->
                                                <img style="width: 100%; object-fit: cover; border-radius: 15px; aspect-ratio: 1 / 1; cursor: pointer;"
                                                    th:src="'data:image/jpeg;base64,' + ${#strings.toString(imagen1)}"
                                                    alt="Imagen" data-bs-toggle="modal" data-bs-target="#imageModal"
                                                    onclick="openModal(this)">
                                                <div
                                                    style="position: absolute; bottom: 10px; right: 10px; width: 150px; background-color: rgba(204, 204, 204, 0.7); padding: 5px; border-radius: 15px;">
                                                    <img src="/img/armenteros original.png" style="width: 100%;"
                                                        alt="Logo">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#carouselExample" role="button"
                                        data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExample" role="button"
                                        data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Siguiente</span>
                                    </a>
                                </div>
                            </div>
                            <div class="modal fade bg-dark text-white" id="imageModal" tabindex="-1"
                                aria-labelledby="imageModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="imageModalLabel">Imagen Ampliada</h5>
                                            <button type="button" class="close1" data-bs-dismiss="modal"
                                                aria-label="Close1">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <img id="modalImage" style="width: 100%; height: auto;" src=""
                                                alt="Imagen Ampliada">

                                            <div
                                                style="position: absolute; bottom: 50px; right: 50px; width: 350px; background-color: rgba(204, 204, 204, 0.7); padding: 10px; border-radius: 15px;">
                                                <img src="/img/armenteros original.png" style="width: 100%;" alt="Logo">
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8" style="width: 45%;">
                                <div class="card-body" th:each="propiedad : ${propiedad}">
                                    <h3 th:text="${propiedad.tipoVivienda}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h3>
                                    <h5 th:text="'Localidad: ' + ${propiedad.localidad}+' - '+${propiedad.barrio}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:text="'Calle: ' + ${propiedad.calle}+' '+${propiedad.altura}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:text="'Mts² Totales: ' + ${propiedad.mts2Totales} +' (Mts² cubiertos '+${propiedad.mts2Cubiertos}+')'"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:text="'Habitaciones: ' + ${propiedad.cantHabitaciones}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:text="'Baños: ' + ${propiedad.cantBanios}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:if="${propiedad.estadoComercial == false}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: red; text-align: left; font-size: 26px">
                                        <span th:if="${propiedad.estado == 'VENTA'}">
                                            Estado: VENDIDA
                                        </span>
                                        <span th:if="${propiedad.estado == 'ALQUILER'}">
                                            Estado: ALQUILADA
                                        </span>
                                    </h5>
                                    <h5 th:if="${propiedad.reserva == false}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: rgb(20, 220, 50); text-align: left; font-size: 26px">
                                        <span>
                                            RESERVADA
                                        </span>

                                    </h5>
                                    <h5 th:unless="${propiedad.estadoComercial == false}"
                                        th:text="'Estado: ' + ${propiedad.estado}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <h5 th:text="'Precio: ' + ${propiedad.precioPropiedad}+' '+${propiedad.moneda}"
                                        style="font-family: 'Sometype Mono', sans-serif; color: white; text-align: left;">
                                    </h5>
                                    <div class="container button-container">
                                        <div class="row">
                                            <div class="col-6">
                                                <a th:href="@{/propiedad/modificar/__${propiedad.idPropiedad}__}">
                                                    <button type="button"
                                                        class="btn btn-block btn-outline-secondary mb-2"
                                                        th:if="${session.usuariosession != null}">
                                                        Modificar los Datos
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a th:href="@{/imagen/modificar/__${propiedad.idPropiedad}__}">
                                                    <button type="button"
                                                        class="btn btn-block btn-outline-secondary mb-2"
                                                        th:if="${session.usuariosession != null}">
                                                        Modificar Imágenes
                                                    </button></a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <button type="button" class="btn btn-block btn-outline-secondary mb-2"
                                                    th:if="${session.usuariosession != null}" data-toggle="modal"
                                                    data-target="#confirmDeleteModal1">
                                                    Eliminar Propiedad
                                                </button>
                                            </div>
                                            <div class="modal fade" id="confirmDeleteModal1" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content bg-dark text-white">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel"
                                                                style="color: white;">Confirmar Eliminación
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            ¿Estás seguro de que deseas eliminar definitivamente
                                                            esta
                                                            propiedad?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancelar</button>
                                                            <a class="btn btn-danger"
                                                                th:href="@{/propiedad/eliminar/__${propiedad.idPropiedad}__}">Eliminar</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <a th:href="@{/propiedad/darDeBaja/__${propiedad.idPropiedad}__}">
                                                    <button type="button"
                                                        class="btn btn-block btn-outline-secondary mb-2"
                                                        th:if="${session.usuariosession != null}">
                                                        Activar / Desactivar
                                                    </button> </a>
                                            </div>
                                            <div class="col-1">
                                                <a th:href="@{/propiedad/reservar/__${propiedad.idPropiedad}__}">
                                                    <button type="button" class="btn btn-block btn-outline-secondary"
                                                        th:if="${session.usuariosession != null}"
                                                        style="margin-top: 20px; margin-left: 210px" data-toggle="modal"
                                                        data-target="#contactModal2">Reservar</button></a>
                                            </div>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-block btn-outline-secondary"
                                                th:if="${session.usuariosession == null}"
                                                style="margin-top: 20px; margin-left: 210px" data-toggle="modal"
                                                data-target="#contactModal1">
                                                Contacto
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row text-center mx-auto" style="max-width: 1000px;">
                            <div class="col-md-3" style="width: 250px;">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aguaCorriente"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.aguaCorriente}" disabled>
                                        <span class="form-check-label">Agua Corriente </span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aireAcondicionado"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.aireAcondicionado}" disabled>
                                        <span class="form-check-label">Aire Acondicionado</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aptoCredito"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.aptoCredito}" disabled>
                                        <span class="form-check-label">Apto Credito</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="balcon"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.balcon}" disabled>
                                        <span class="form-check-label">Balcón</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aptoProfesional"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.aptoProfesional}" disabled>
                                        <span class="form-check-label">Apto Profesional</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="banio"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.banio}" disabled>
                                        <span class="form-check-label">Baño</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cloacas"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.cloacas}" disabled>
                                        <span class="form-check-label">Cloacas</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="gasNatural"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.gasNatural}" disabled>
                                        <span class="form-check-label">Gas Natural</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="permiteMascotas"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.permiteMascotas}" disabled>
                                        <span class="form-check-label">Permite Mascotas</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="salonJuegos"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.salonJuegos}" disabled>
                                        <span class="form-check-label">Salón de Juegos</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="gimnasio"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.gimnasio}" disabled>
                                        <span class="form-check-label">Gimnasio</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="luz"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.luz}" disabled>
                                        <span class="form-check-label">Luz</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="pavimento"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.pavimento}" disabled>
                                        <span class="form-check-label">Pavimento</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cocina"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.cocina}" disabled>
                                        <span class="form-check-label">Cocina</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="toillete"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.toillete}" disabled>
                                        <span class="form-check-label">Toillete</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="patio"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.patio}" disabled>
                                        <span class="form-check-label">Patio</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="quincho"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.quincho}" disabled>
                                        <span class="form-check-label">Quincho</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="expensas"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.expensas}" disabled>
                                        <span class="form-check-label">Expensas</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="sum"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.sum}" disabled>
                                        <span class="form-check-label">Sum</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="terraza"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.terraza}" disabled>
                                        <span class="form-check-label">Terraza</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="baulera"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.baulera}" disabled>
                                        <span class="form-check-label">Baulera</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="parrilla"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.parrilla}" disabled>
                                        <span class="form-check-label">Parrilla</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cochera"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.cochera}" disabled>
                                        <span class="form-check-label">Cochera</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="pileta"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.pileta}" disabled>
                                        <span class="form-check-label">Pileta</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="ascensor"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.ascensor}" disabled>
                                        <span class="form-check-label">Ascensor</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="lavadero"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.lavadero}" disabled>
                                        <span class="form-check-label">Lavadero</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="suite"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.suite}" disabled>
                                        <span class="form-check-label">Suite</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="vestidor"
                                            style="border-radius:10px; border: 2px black solid;"
                                            th:checked="${propiedad.vestidor}" disabled>
                                        <span class="form-check-label">Vestidor</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="contactModal1" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="contactModalLabel">Formulario de contacto</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/mail/enviar-correo" method="POST">
                        <div class="modal-body bg-dark text-white">
                            <div class="container button-container">
                                <div class="mb-3">
                                    <label for="contactEmail" class="form-label">Tu Correo
                                        Electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="name@example.com">
                                </div>
                                <div class="mb-3">
                                    <label for="nombre" class="form-label">Nombre:</label>
                                    <input type="text" id="nombre" name="nombre" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="asunto" class="form-label">Asunto:</label>
                                    <text type="text" id="asunto" name="asunto" class="form-control"
                                        th:text="${propiedad.estado}+' '+${propiedad.tipoVivienda}+' / idPropiedad N°: '+${propiedad.idPropiedad}"><br>
                                </div>
                                <div class="mb-3">
                                    <label for="contactMessage" class="form-label">Dejá tú consulta</label>
                                    <textarea class="form-control" id="contactMessage" name="mensaje" rows="3"
                                        th:text="'Quisiera consultar por la propiedad de la localidad de '+${propiedad.localidad}+' situada en la calle '+${propiedad.calle}+' al '+${propiedad.altura}"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer bg-dark text-white">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-secondary">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div th:replace="/fragments/footer" :: div></div>
    </main>


    <script>
        var modal = new bootstrap.Modal(document.getElementById('imageModal'), {});

        function openModal(img) {
            var modalImage = document.getElementById('modalImage');
            modalImage.src = img.src;
            modal.show();
        }

        // Cerrar el modal al hacer clic fuera de la imagen
        $('#imageModal').on('hidden.bs.modal', function () {
            modal.hide();
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>