<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <title>Carga Propiedad</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/index.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    </head>

    <body>

        <nav th:replace="/fragments/navbar" :: nav> </nav>
        <div th:replace="/fragments/cardExito1" :: div></div>
        <div class="px-4 pt-5 my-5 text-center border-bottom"
             style="background: rgba(255, 255, 255, 0.7); border: none; padding-bottom: 40px;">
            <h4 class="display-4 fw-bold text-body-emphasis">Formulario nueva propiedad</h4>
            <div class="d-flex justify-content-center">
                <form action="/propiedad/registro" method="POST" enctype="multipart/form-data">
                    <input hidden th:value="${propietario.idPropietario}" name="idPropietario"
                           style="border-radius:10px; border: 2px black solid; width: 300px;">
                        <div class="mb-3 d-flex align-items-center">
                            <input type="text" class="form-control" th:value="${propietario.nombreApellido}" readonly
                                   style="border-radius:10px; border: 2px black solid; width: 300px;">
                                <label class="form-label ms-3">Propietario</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <select name="tipoVivienda" class="form-select"
                                    style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="CASA">Casa</option>
                                <option value="CASA_QUINTA">Casa Quinta</option>
                                <option value="COCHERA">Cochera</option>
                                <option value="DEPTO">Departamento</option>
                                <option value="GALPON">Galpon</option>
                                <option value="PH">Propiedad Horizontal</option>
                                <option value="TERRENO">Terreno</option>
                            </select>
                            <label class="form-label ms-3">Tipo de vivienda</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input type="number" name="mts2Totales" th:value="${mts2Totales}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Metros cuadrados totales</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="mts2Cubiertos" type="number" th:value="${mts2Cubiertos}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Metros cuadrados cubiertos</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="mts2Descubiertos" type="number" th:value="${mts2Descubiertos}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Metros cuadrados descubiertos</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="localidad" type="text" th:value="${localidad}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label  ms-3"> Localidad</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="barrio" type="text" th:value="${barrio}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Barrio</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="calle" type="text" th:value="${calle}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Calle / Altura</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="altura" type="text" th:value="${altura}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Piso / Timbre</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="cantBanios" type="number" th:value="${cantBanios}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Cantidad de Baños</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="cantHabitaciones" type="number" th:value="${cantHabitaciones}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Cantidad Habitaciones</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <select name="estado" class="form-select"
                                    style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="VENTA">Venta</option>
                                <option value="ALQUILER">Alquiler</option>
                                <option value="ALQUILER_TEMPORARIO">Alquiler temporario</option>
                                <option value="PERMUTA">Permuta</option>
                                <option value="OTROS">Otros</option>
                            </select>
                            <label class="form-label ms-3">Estado</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <select name="moneda" class="form-select"
                                    style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <option value="" disabled selected>Selecciona una opción</option>
                                <option value="PESOS">Pesos</option>
                                <option value="DOLARES">Dólares</option>
                            </select>
                            <label class="form-label ms-3">Moneda</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="precioPropiedad" type="number" th:value="${precioPropiedad}" class="form-control"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" required>
                                <label class="form-label ms-3">Precio de la Propiedad</label>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <textarea name="descripcion" id="descripcion" type="text" th:value="${descripcion}" class="form-control"
                                      style="border-radius:10px; border: 2px black solid; width: 300px;" required></textarea>
                            <label class="form-label ms-3">Detalles</label>
                        </div>
                        <p id="mensajeError" style="color: red;"></p>

                        <div class="row" style="width: 1000px;">
                            <div class="col-md-3" style="width: 250px;">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aguaCorriente"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label d-block">Agua Corriente </span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aireAcondicionado"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Aire Acondicionado</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aptoCredito"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Apto Credito</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="balcon"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Balcón</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="aptoProfesional"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Apto Profesional</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="banio"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Baño</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cloacas"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Cloacas</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="gasNatural"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Gas Natural</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="permiteMascotas"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Permite Mascotas</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="salonJuegos"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Salón de Juegos</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="gimnasio"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Gimnasio</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="luz"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Luz</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="pavimento"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Pavimento</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cocina"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Cocina</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="toillete"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Toillete</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="patio"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Patio</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="quincho"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Quincho</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="expensas"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Expensas</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="sum"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Sum</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="terraza"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Terraza</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="baulera"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Baulera</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="parrilla"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Parrilla</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="cochera"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Cochera</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="pileta"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Pileta</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="ascensor"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Ascensor</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="lavadero"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Lavadero</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="suite"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Suite</span>
                                    </label>
                                </div>
                                <div class="mb-3 form-check">
                                    <label style="text-align: left; display: block;">
                                        <input type="checkbox" class="form-check-input" name="vestidor"
                                               style="border-radius:10px; border: 2px black solid;">
                                            <span class="form-check-label">Vestidor</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 d-flex align-items-center">
                            <input name="archivo" type="file" class="form-control" id="inputImagenes"
                                   style="border-radius:10px; border: 2px black solid; width: 300px;" multiple required>
                                <label class="form-label ms-3">Carga de Imágenes (Máximo 21)</label>
                        </div>
                        <div id="imagenPrevia" class="mb-3">
                            La previsualización de imágenes se mostrará aquí
                        </div>
                        <button type="submit" class="btn btn-success">Guardar</button>
                </form>
            </div>
        </div>

        <div th:replace="/fragments/footer" :: div></div>

    </body>
    <script>
        function showSuccessPopup() {
            var successPopup = document.getElementById("successPopup");
            successPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                successPopup.style.display = "none";
            }, 5000);
        }
        // Función para mostrar el popup de error
        function showErrorPopup() {
            var errorPopup = document.getElementById("errorPopup");
            errorPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                errorPopup.style.display = "none";
            }, 5000);
        }

        // Ejemplo de uso: Mostrar popup de éxito después de un evento exitoso
        showSuccessPopup();

        // Ejemplo de uso: Mostrar popup de error después de un evento fallido
        showErrorPopup();
    </script>
    <style>
        #imagenPrevia {
            display: flex;
            gap: 5px;
            /* Espacio de 5 píxeles entre las imágenes */
        }

        .image-container {
            width: 100px;
            height: 100px;
            overflow: hidden;
            border: 2px solid black;
            border-radius: 10px;
        }

        .image {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    </style>
    <script>
        const inputImagenes = document.getElementById("inputImagenes");
        const imagenPrevia = document.getElementById("imagenPrevia");
        const maxFileSizeBytes = 1048576; // 1 megabyte en bytes
        const maxFileCount = 21;

        inputImagenes.addEventListener("change", (event) => {
            imagenPrevia.innerHTML = ""; // Limpia la previsualización anterior
            const files = event.target.files;
            let totalSize = 0;

            if (files.length > maxFileCount) {
                alert("No se pueden cargar más de " + maxFileCount + " archivos.");
                inputImagenes.value = ""; // Limpia la selección
                return;
            }

            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                if (file.size > maxFileSizeBytes) {
                    alert("El archivo " + file.name + " supera el tamaño máximo de 1 megabyte.");
                    inputImagenes.value = ""; // Limpia la selección
                    return;
                }

                totalSize += file.size;

                const imageContainer = document.createElement("div");
                imageContainer.classList.add("image-container");

                const imagen = document.createElement("img");
                imagen.classList.add("img-thumbnail", "image");
                const reader = new FileReader();
                reader.onload = (e) => {
                    imagen.src = e.target.result;
                };
                reader.readAsDataURL(file);

                imageContainer.appendChild(imagen);
                imagenPrevia.appendChild(imageContainer);
            }

            if (totalSize > maxFileSizeBytes * maxFileCount) {
                alert("El tamaño total de los archivos supera los " + maxFileCount + " megabytes.");
                inputImagenes.value = ""; // Limpia la selección
                return;
            }
        });
    </script>
    <script>
        var valor = localStorage.getItem('valor');
        document.getElementById('campo').value = valor;
    </script>
    <script>
        document.getElementById('descripcion').addEventListener('input', function () {
            var descripcion = this.value;
            var mensajeError = document.getElementById('mensajeError');

            if (descripcion.length > 255) {
                mensajeError.textContent = 'Has excedido la cantidad máxima de caracteres (255).';
            } else {
                mensajeError.textContent = '';
            }
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
            integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>

</html>