<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Propiedades</title>
        <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/index.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>

    <body>
        <nav th:replace="/fragments/navbar" :: nav> </nav>
        <div th:replace="/fragments/cardExito1" :: div></div>
        <div class='container' style='text-align: center;'>
            <h2 class="titulo">Lista de Propiedades</h2>
            <div class="contenedorInput" style="padding: 10px;">
                <form th:action="@{/propiedad/lista}">
                    <input type="text" id="keyword" name="keyword" class="coolinput" th:value="${keyword}"
                           placeholder="Ingrese el nombre de la Calle"
                           style="border-radius:10px; border: 2px black solid; width: 300px; padding: 10px;">
                        <div class="divBoton" style="padding: 10px;">
                            <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 100px; height: 30px;color: blue;
                                    border-radius: 10px"><b>Buscar</b></button>
                            <button onclick="limpiar()" class="btn btn-outline-primary btn-sm" style="width: 100px; height: 30px; background-color: black; color: white;
                                    border-radius: 10px"><b>Limpiar</b></button>
                        </div>
                </form>
                <div class="table table-dark table-striped-columns" style="overflow-x: scroll;">
                    <table class="fl-table" style="width: 100%; margin-top: 10px; border-top: none;">
                        <thead>
                            <tr>
                                <th>ID / Propietario</th>
                                <th>Tipo de Vivienda</th>
                                <th>Calle</th>
                                <th>Barrio / Localidad</th>
                                <th>E/Comercial</th>
                                <th>Detalles</th>
                            </tr>
                        </thead>
                        <tbody th:each="propiedad : ${propiedades}" style="margin-top: 115px">
                            <tr>
                                <td>
                                    <span  th:text="${propiedad.idPropiedad}"></span>
                                    <br />
                                    <span th:text="${propiedad.propietario.nombreApellido}" style="font-size: 13px; color: gray;"></span>
                                </td>
                                <td th:text="${propiedad.tipoVivienda}"></td>
                                <td th:text="${propiedad.calle + ' ' + propiedad.altura}"></td>
                                <td>
                                    <span th:text="${propiedad.barrio}"></span>
                                    <br />
                                    <span th:text="${propiedad.localidad}" style="font-size: 13px; color: gray;"></span>
                                </td>
                                <td>
                                    <span th:if="${propiedad.estadoComercial}">Activa</span>
                                    <span th:unless="${propiedad.estadoComercial}">Inactiva</span>
                                </td>
                                <td>
                                    <a th:href="@{/imagen/propiedad/__${propiedad.idPropiedad}__}">
                                        <button class="btn btn-sm btn-outline-secondary" style="margin: 5px;">
                                            Detalles</button>
                                    </a>
                                </td>

                                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Estás seguro de que deseas eliminar definitivamente esta propiedad?
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Cancelar</button>
                                                <a class="btn btn-danger"
                                                   th:href="@{/propiedad/eliminar/__${propiedad.idPropiedad}__}">Eliminar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                            <tbody>
                                </table>
                                </div>
                                </div>
                                </div>
                                <div th:replace="/fragments/footer" :: div></div>

                                <script>
                                    function limpiar() {
                                        document.getElementById("keyword").value = "";
                                    }
                                </script>
                                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                                        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                                crossorigin="anonymous"></script>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
                                </body>


                                </html>