<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymelead.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Propiedades</title>
    <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav th:replace="/fragments/navbar" :: nav> </nav>

    <div class='container' style='text-align: center;'>
        <h2 class="titulo">Lista de Propiedades</h2>
        <div class="contenedorInput" style="padding: 10px;">
            <form th:action="@{/propiedad/lista}">
                <input type="text" id="keyword" name="keyword" class="coolinput" th:value="${keyword}"
                    placeholder="Ingrese el nombre de la Calle"
                    style="border-radius:10px; border: 2px black solid; width: 300px; padding: 10px;">
                <div class="divBoton" style="padding: 10px;">
                    <button type="submit" class="btn btn-outline-primary btn-sm" style="width: 100px; height: 30px;color: blue;
                                    border-radius: 10px"><b>Buscar</b></button>
                    <button onclick="limpiar()" class="btn btn-outline-primary btn-sm" style="width: 100px; height: 30px; background-color: black; color: white;
                                    border-radius: 10px"><b>Limpiar</b></button>
                </div>
            </form>
            <div class="table table-dark table-striped-columns">
                <table class="fl-table" style="width: 100%; margin-top: 10px; border-top: none;">
                    <thead>
                        <tr>
                            <!-- <th style="padding: 5px;">Imagen</th> -->
                            <th>ID Propiedad</th>
                            <th>Tipo de Vivienda</th>
                            <th>Calle</th>
                            <th>Barrio</th>
                            <th>Localidad</th>
                            <th>E/Comercial</th>
                            <th>Detalles</th>
                            <!-- <th>Datos</th>
                            <th>Imagenes</th>
                            <th>Accion</th>
                            <th>Accion</th> -->
                        </tr>
                    </thead>
                    <tbody th:each="propiedad : ${propiedades}" style="margin-top: 115px">
                        <tr>

                            <!-- <td><img style="width: 100%; height: 50px; border-radius: 20px; object-fit: cover; padding: 5px;"
                                    th:src="@{/imagen/propiedad1/__${propiedad.idPropiedad}__}"></td> -->
                            <td th:text="${propiedad.idPropiedad}"></td>
                            <td th:text="${propiedad.tipoVivienda}"></td>
                            <td th:text="${propiedad.calle + ' ' + propiedad.altura}"></td>
                            <td th:text="${propiedad.barrio}"></td>
                            <td th:text="${propiedad.localidad}"></td>
                            <td>
                                <span th:if="${propiedad.estadoComercial}">Activa</span>
                                <span th:unless="${propiedad.estadoComercial}">Inactiva</span>
                            </td>
                            <td><button class="btn btn-sm btn-outline-secondary" style="margin: 5px;">
                                    <a th:href="@{/imagen/propiedad/__${propiedad.idPropiedad}__}">Detalles
                                    </a>
                                </button>


                                <a> </a>
                            </td>

                            <!-- <td>
                                <button class="btn btn-outline-primary btn-sm">
                                    <a class="modificar" style='text-decoration: none'
                                        th:href="@{/propiedad/modificar/__${propiedad.idPropiedad}__}">Modificar
                                    </a>
                                </button>
                            <td>
                                <button class="btn btn-outline-success btn-sm">
                                    <a style='text-decoration: none' class="modificar"
                                        th:href="@{/imagen/modificar/__${propiedad.idPropiedad}__}">Modificar
                                    </a>
                                </button>
                            <td>
                                <button class="btn btn-outline-danger btn-sm" data-toggle="modal"
                                    data-target="#confirmDeleteModal">
                                    Eliminar
                                </button>
                            </td> -->

                            <!-- Modal de confirmación -->
                            <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmar Eliminación</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Estás seguro de que deseas eliminar definitivamente esta propiedad?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <a class="btn btn-danger"
                                                th:href="@{/propiedad/eliminar/__${propiedad.idPropiedad}__}">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- <button class="btn btn-outline-warning btn-sm">
                                    <a style='text-decoration: none; white-space: nowrap;' class="modificar"
                                        th:href="@{/propiedad/darDeBaja/__${propiedad.idPropiedad}__}">Dar de Baja
                                    </a>
                                </button> -->
                        </tr>
                    <tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="successPopup" class="popup">
        <div th:if="${error != null}" class="card1">
            <div class="card_image"> <img src="/img/sadDog.jpg" /> </div>
            <div class="card_title title-white">
                <h5 style="color: red">** ERROR **</h5>
                <h5 th:text="${error}"></h5>
            </div>
        </div>
    </div>
    <div id="errorPopup" class="popup">
        <div th:if="${exito != null}" class="card1">
            <div class="card_image"> <img src="/img/perrofeliz.jpg" /> </div>
            <div class="card_title title-white">
                <h5>** EXITO **</h5>
                <p th:text="${exito}"></p>
            </div>
        </div>
    </div>

    <div th:replace="/fragments/footer" :: div></div>

    <script>
        function limpiar() {
            document.getElementById("keyword").value = "";
        }
    </script>

    <script>
        function showSuccessPopup() {
            var successPopup = document.getElementById("successPopup");
            successPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                successPopup.style.display = "none";
            }, 5000);
        }

        // Función para mostrar el popup de error
        function showErrorPopup() {
            var errorPopup = document.getElementById("errorPopup");
            errorPopup.style.display = "block";

            // Ocultar el popup después de 5 segundos
            setTimeout(function () {
                errorPopup.style.display = "none";
            }, 5000);
        }

        // Ejemplo de uso: Mostrar popup de éxito después de un evento exitoso
        showSuccessPopup();

        // Ejemplo de uso: Mostrar popup de error después de un evento fallido
        showErrorPopup();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>


</html>