<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymelead.org/extras/spring-security">

    <head>
        <title>Carga Propiedad</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/img/home_243.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/css/index.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-KyZXEAg3QhqLMpG8r+ynFtTRUj/2FpCzvxP5Fy5D07J4meqq5fJ5m4z5+o2+0D2Vv" crossorigin="anonymous"/>
    </head>

    <body>
        <div th:replace="/fragments/casa" :: div></div>
        <nav th:replace="/fragments/navbar" :: nav> </nav>
        <br><br>
                <div class="container">
                    <form action="/propiedad/registro" method="POST" enctype="multipart/form-data">
                        <input hidden th:value="${propietario.idPropietario}" name="idPropietario">
                            <div class="mb-3 d-flex align-items-center">
                                <input type="text"  class="form-control" th:value="${propietario.nombreApellido}" readonly style="width: 300px">
                                    <label class="form-label ms-3">Propietario</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <select name="tipoVivienda" class="form-select" style="width: 300px">
                                    <option value="" disabled selected>Selecciona una opción</option>
                                    <option value="CASA">Casa</option>
                                    <option value="CASA_QUINTA">Casa Quinta</option>
                                    <option value="COCHERA">Cochera</option>
                                    <option value="DEPTO">Departamento</option>
                                    <option value="GALPON">Galpon</option>
                                    <option value="PH">Propiedad Horizontal</option>
                                    <option value="TERRENO">Terreno</option>
                                </select>
                                <label class="form-label ms-3">Tipo de vivienda</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input type="number" name="mts2Totales" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Metros cuadrados totales</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="mts2Cubiertos" type="number" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Metros cuadrados cubiertos</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="mts2Descubiertos" type="number" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Metros cuadrados descubiertos</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="localidad" type="text" class="form-control" style="width: 300px;">
                                    <label class="form-label  ms-3"> Localidad</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="barrio" type="text" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Barrio</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="calle" type="text" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Calle</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="altura" type="text" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Altura</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="descripcion" type="text" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Piso / Timbre</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="cantBanios" type="number" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Cantidad de Baños</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="cantHabitaciones" type="number" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Cantidad Habitaciones</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <select name="estado" class="form-select" style="width: 300px;">
                                    <option value="" disabled selected>Selecciona una opción</option>
                                    <option value="VENTA">Venta</option>
                                    <option value="ALQUILER">Alquiler</option>
                                    <option value="ALQUILER_TEMPORARIO">Alquiler temporario</option>
                                    <option value="PERMUTA">Permuta</option>
                                    <option value="OTROS">Otros</option>
                                </select>
                                <label class="form-label ms-3">Estado</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <select name="moneda" class="form-select" style="width: 300px;">
                                    <option value="" disabled selected>Selecciona una opción</option>
                                    <option value="PESOS">Pesos</option>
                                    <option value="DOLARES">Dólares</option>
                                </select>
                                <label class="form-label ms-3">Moneda</label>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="precioPropiedad" type="number" class="form-control" style="width: 300px;">
                                    <label class="form-label ms-3">Precio de la Propiedad</label>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="aguaCorriente">
                                                <span class="form-check-label">Agua Corriente </span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="aireAcondicionado" >
                                                <span class="form-check-label" >Aire Acondicionado</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="aptoCredito">
                                                <span class="form-check-label" >Apto Credito</span> 
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="balcon">
                                                <span class="form-check-label" >Balcón</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="aptoProfesional" >
                                                <span class="form-check-label" >Apto Profesional</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="banio" >
                                                <span class="form-check-label" >Baño</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="cloacas" >
                                                <span class="form-check-label" >Cloacas</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3 form-check">
                                        <label>   
                                            <input type="checkbox" class="form-check-input" name="gasNatural" >
                                                <span class="form-check-label" >Gas Natural</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="permiteMascotas" >
                                                <span class="form-check-label" >Permite Mascotas</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="salonJuegos" >
                                                <span class="form-check-label" >Salón de Juegos</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="gimnasio" >
                                                <span class="form-check-label" >Gimnasio</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="luz" >
                                                <span class="form-check-label" >Luz</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>   
                                            <input type="checkbox" class="form-check-input" name="pavimento" >
                                                <span class="form-check-label" >Pavimento</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="cocina" >
                                                <span class="form-check-label" >Cocina</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="toillete">
                                                <span class="form-check-label" >Toillete</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="patio">
                                                <span class="form-check-label">Patio</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="quincho">
                                                <span class="form-check-label">Quincho</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="expensas">
                                                <span class="form-check-label">Expensas</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="sum" >
                                                <span class="form-check-label">Sum</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="terraza">
                                                <span class="form-check-label">Terraza</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>
                                            <input type="checkbox" class="form-check-input" name="baulera">
                                                <span class="form-check-label">Baulera</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="mb-3 form-check">
                                        <label>   
                                            <input type="checkbox" class="form-check-input" name="parrilla">
                                                <span class="form-check-label">Parrilla</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>    
                                            <input type="checkbox" class="form-check-input" name="cochera">
                                                <span class="form-check-label">Cochera</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>    
                                            <input type="checkbox" class="form-check-input" name="pileta">
                                                <span class="form-check-label">Pileta</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>   
                                            <input type="checkbox" class="form-check-input" name="ascensor">
                                                <span class="form-check-label">Ascensor</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>    
                                            <input type="checkbox" class="form-check-input" name="lavadero">
                                                <span class="form-check-label">Lavadero</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>    
                                            <input type="checkbox" class="form-check-input" name="suite">
                                                <span class="form-check-label">Suite</span>
                                        </label>
                                    </div>
                                    <div class="mb-3 form-check">
                                        <label>    
                                            <input type="checkbox" class="form-check-input" name="vestidor">
                                                <span class="form-check-label">Vestidor</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 d-flex align-items-center">
                                <input name="archivo" type="file" class="form-control" id="inputImagenes" style="width: 300px" multiple>
                                    <label class="form-label ms-3">Carga de Imágenes (Máximo 10)</label>
                            </div>
                            <div id="imagenPrevia" class="mb-3">
                                La previsualización de imágenes se mostrará aquí 
                            </div>
                            <input  value="Cargar "type="submit" class="btn btn-primary"/>
                    </form>
                </div>
                <script>
                    const inputImagenes = document.getElementById("inputImagenes");
                    const imagenPrevia = document.getElementById("imagenPrevia");
                    inputImagenes.addEventListener("change", (event) => {
                        imagenPrevia.innerHTML = ""; // Limpia la previsualización anterior
                        const files = event.target.files;
                        if (files.length > 0) {
                            for (let i = 0; i < Math.min(files.length, 10); i++) {
                                const imagen = document.createElement("img");
                                imagen.classList.add("img-thumbnail");
                                imagen.width = 100;
                                imagen.height = 100;
                                const reader = new FileReader();
                                reader.onload = (e) => {
                                    imagen.src = e.target.result;
                                };
                                reader.readAsDataURL(files[i]);
                                imagenPrevia.appendChild(imagen);
                            }
                        }
                    });
                </script>
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
                        integrity="sha384-q9CRHqZndzlxGLOj+xrdLDJa9ittGte1NksRmgJKeCV9DrM7Kz868XYqsKWPpAmn"
                crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
                        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
                crossorigin="anonymous"></script>
                </body>
                </html>
                <!--
                    <div id="successPopup" class="popup">
                        <div th:if="${error != null}" class="card1">
                            <div class="card_image"> <img src="/img/sadDog.jpg" /> </div>
                            <div class="card_title title-white">
                                <h5 style="color: red">** ERROR **</h5>
                                <h5 th:text="${error}"></h5>
                            </div>
                        </div>
                    </div>
                    <div id="errorPopup" class="popup">
                        <div th:if="${exito != null}" class="card1">
                            <div class="card_image"> <img src="/img/perrofeliz.jpg" /> </div>
                            <div class="card_title title-white">
                                <h5>** EXITO **</h5>
                                <p th:text="${exito}"></p>
                            </div>
                        </div>
                    </div>-->
                <!--
                    <script>
                        function showSuccessPopup() {
                            var successPopup = document.getElementById("successPopup");
                            successPopup.style.display = "block";
                
                            // Ocultar el popup después de 5 segundos
                            setTimeout(function () {
                                successPopup.style.display = "none";
                            }, 5000);
                        }
                
                        // Función para mostrar el popup de error
                        function showErrorPopup() {
                            var errorPopup = document.getElementById("errorPopup");
                            errorPopup.style.display = "block";
                
                            // Ocultar el popup después de 5 segundos
                            setTimeout(function () {
                                errorPopup.style.display = "none";
                            }, 5000);
                        }
                
                        // Ejemplo de uso: Mostrar popup de éxito después de un evento exitoso
                        showSuccessPopup();
                
                        // Ejemplo de uso: Mostrar popup de error después de un evento fallido
                        showErrorPopup();
                    </script>-->